/* start varibles */

/* end varibles */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196F3;
  --main-color-alt: #1787E0;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Work Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.titre-bold {
  font-weight: bold;
  color: var(--main-color); 
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  margin-bottom: 10px;
}
/* media query */
/* mobile  */
@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}
/* Medium  */
@media (min-width: 992px)
{
  .container{
    width: 970px;
  }
}
/* desktop   */
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}
/* end global rules */
/* start Headers */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav{
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;

}
.header .main-nav > li > a:hover::before {
  left: 0;
}
/* end Headers */

/* start contenue */
.contenue {
  position: relative;
}
/* .container {
  
}  */
.contenue .container .img-1 {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  filter: blur(1px);
  z-index: -1; /* Keep the background behind the content */     
}
@media (max-width: 767px){
  .contenue .container .img-1 {
    width: 100%;
    height: 100%;
  }
}
.contenue .text {
  flex: 1;
}
@media (max-width: 767px){
  .contenue .text {
    flex-direction: column;
  }
}
.contenue .text h1{
  position: absolute;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 3px;
  top: 90px;
  left: 110px;
}
@media (max-width: 767px) {
  .contenue .text h1 {
    position: absolute;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    top: 2px;
    left: 25px;
  }
}
.contenue .text p{
  position: absolute;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  top: 225px;
  left: 110px;
  line-height: 1.75;
}
@media (max-width: 767px) {
  .contenue .text p {
    position: absolute;
    font-size: 7px;
    letter-spacing: -0.5px;
    color: white;
    top: 60px;
    left: 25px;
    line-height: 2;
    text-align: justify;
  }
}
.contenue .text .button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--main-color-alt);
  position: absolute;
  top: 375px;
  left: 110px;
}
@media (max-width: 767px) {
  .contenue .text .button {
    top: 128px;
    left: 25px;
    width: 17%;
    height: 4%;
    font-size: 5px;
    align-items: center;
    padding: 14px 21px;
  }
}
.button:hover {background-color: var(--main-color)}
.button:active {
    background-color: var(--main-color);
    box-shadow: 0 5px var(--main-color-alt);
    transform: translateY(4px); 
}
.contenue h2{
  position: relative;
  text-align: center;
}
@media (max-width: 767px) {
  .contenue h2 {
    font-size: 20px;
  }
}
.contenue .container .img-2 {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  filter: blur(1px);
  z-index: -1; /* Keep the background behind the content */     
}
.contenue .statistiques p {
  color: var(--main-color);
  font-weight: bold;
  font-size: 40px;
}
@media (max-width: 767px) {
  .contenue .statistiques p {
    font-size: 20px;
  }
}
.contenue .statistiques span {
  font-size: 20px;
  color: white;
}
@media (max-width: 767px) {
  .contenue .statistiques span {
    position: absolute;
    font-size: 10px;
    top: 50px;
    width: 100px;
  }
}
.contenue .statistiques .sta1 {
  position: absolute;
  top: 800px;
  left: 100px;
}
@media (max-width: 767px) {
  .contenue .statistiques .sta1 {
    top: 300px;
    left: 25px;
  }
}
.contenue .statistiques .sta2{
  position: absolute;
  top: 800px;
  right: 80px;
}
@media (max-width: 767px) {
  .contenue .statistiques .sta2 {
    top: 300px;
    right: 60px;
  }
}
.contenue .statistiques .sta3{
  position: absolute;
  top: 1270px;
  left: 100px;
}
@media (max-width: 767px) {
  .contenue .statistiques .sta3 {
    top: 436px;
    left: 25px;
  }
}
.contenue .statistiques .sta4{
  position: absolute;
  top: 1270px;
  right: 80px;
}
@media (max-width: 767px) {
  .contenue .statistiques .sta4 {
    top: 436px;
    right: 60px;
  }
}
.contenue .brand h2 {
  position: relative;
  text-align: center;
  top: 20px;
  bottom: 20px;
}
@media (max-width: 767px) {
  .contenue .brand h2 {
    font-size: 20px;
  }
}
.contenue .brand .les-images {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .contenue .brand .les-images {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .contenue .brand .les-images img {
    margin-bottom: 25px;
  }
}
/* end contenue */

/* start footer */
.footer {
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: white;
  position: relative;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  height: 72px;
}
.footer .container {
  position: relative;
  padding-top: 20px;
}

.footer .container::before {
  content: '';
  width: 109%;
  height: 2px;
  background-color: black;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
@media (max-width: 767px){
  .footer .container::before {
    width: 100%;
  }
}
.footer p:first-of-type {
  font-weight: bold;
}
.footer .social-icons i {
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
}
.footer .copyright {
  font-weight: bold;
}
.footer .copyright span {
  font-weight: normal;
}
/* end footer */

/* start contact */
.contact .contenue{
  display: flex;
  height: 40rem;
  justify-content: space-between;
}
@media (max-width: 767px){
  .contact .contenue{
    flex-direction: column;
  }
}
.contact p {
  width: 80%;
  text-align: justify;
  line-height: 1.5;
}
@media (max-width: 767px){
  .contact p{
    width: 100%;
  }
}
.contact .contenue form{
  flex-basis: 80%;
  position: relative;
  top: 25px;
  bottom: 20px;
}
.contact .contenue form .main-input{
  padding: 20px;
  display: block;
  border: 2px solid;
  border-radius: 15px;
  margin-bottom: 30px;
  width: 100%;
}
.contact .contenue form .button-2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--main-color-alt);
  position: absolute;
  top: 540px;
  left: 0px;
}
.button-2:hover {background-color: var(--main-color)}
.button-2:active {
    background-color: var(--main-color);
    box-shadow: 0 5px var(--main-color-alt);
    transform: translateY(4px); 
}
/* end contact */